* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
    color: #fff;
    font-weight: 120;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://subtlepatterns.com/patterns/stardust.png);
    background-origin: padding-box;
    background-size: auto;
  }
  
  .achieve {
    color: #fff;
  }
  
  .bt {
    width: 70px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
  }
  
  .bt.bt-achieve {
    background: #fff;
    color: #444349;
  }
  
  .txt {
    background: transparent;
    width: 100%;
    outline: none;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #fff;
    width: 90%;
    font-size: 20px;
    position: relative;
    min-height: 100%;
  }
  
  .page-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .page-container h2 {
    text-align: center;
    font-weight: 900;
  }
  
  .add-todo .txt {
    padding: 10px;
  }
  
  .todo-list, .add-todo {
    list-style-type: none;
    text-align: left;
    
  }
  
  .todo-list li {
    padding: 10px;
    margin: 4px 0;
    border: 3px solid #fff;
    width: 90%;
    position: relative;
    min-height: 100%;
    cursor: pointer;
  }
  
  .todo-list li .bt {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transition: width 0.4s ease-in-out;
  }
  
  .todo-list li .bt:hover {
    width: 100px;
  }

  #date {
    font-size: 25px;
    text-decoration: underline;
  }